body {
    background-color: lightblue;
}
  
  h1 {
    color: white;
    text-align: center;
    font-size: 50px;
  }

  h2 {
      font-size: 30px;
      color: white;
     text-align: center;
  }
  
  legend {
      font-size: 25px;
      font-style: italic;
  }

p {
    font-family: verdana;
    font-size: 20px;
  }

 ul {
     list-style: none;
 }
  
label {
    font-size: 20px;
}  

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px dotted #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 10px;
  }

input[type=text]:focus {
    border: 3px solid #555;
    background-color: #fbefcc;
  }

  input[type=text]:hover {
      color: aqua;
  }

  input[type=radio]:hover {
    color: blue;
}

  input[type=number]:focus {
    border: 3px solid #555;
    background-color: #fbefcc;
  }

textarea {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

textarea:focus {
    border: 3px solid #555;
    background-color: #fbefcc;
}

.myButton {
	box-shadow: -3px 3px 14px -1px #f0f7fa;
	background-color:#33bdef;
	border-radius:25px;
	border:2px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:20px 70px;
	text-decoration:none;
    text-shadow:0px 1px 0px #5b6178;
    margin-left: 40%;
    margin-top: 10px;
}
.myButton:hover {
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}